# IntelliJ / Android Studio
.idea/
**/.idea/
*.iml

# Gradle
.gradle/
**/.gradle/

# Kotlin
.kotlin/

# Build
build/
**/build/
out/
**/out/

# Local config
local.properties

# Native
.externalNativeBuild/
.cxx/

# macOS
.DS_Store